
@model Sitecore.Data.Items.Item
@using Sitecore.Mvc
@using BasicCompany.Foundation.FieldRendering

@{
    var blogImageOptions = new Sitecore.Resources.Media.MediaUrlOptions
    {
        MaxWidth = 480,
        AllowStretch = false,
    };
}

<a href="@Html.Sitecore().ItemUrl(Model)" class="column product-list-column is-4-desktop is-6-tablet">
    <div class="card">
        <div class="card-image">
            <figure style="background-image: url(@Html.Sitecore().MediaUrl(BasicCompany.Feature.Blogs.Templates.Blogs.Fields.BlogImage, Model, blogImageOptions))"></figure>
        </div>
        <div class="card-content">
            <div class="content">
                <h4>@Html.Sitecore().Field(BasicCompany.Feature.Blogs.Templates.Blogs.Fields.BlogTitle, Model)</h4>
                <p> <i/>@Html.Sitecore().Field(BasicCompany.Feature.Blogs.Templates.Blogs.Fields.BlogAuthor, Model) </i></p>
            </div>
        </div>
    </div>
</a>